<!DOCTYPE html>
<html>
<head>
  <title>Pdf output</title>
  <%= stylesheet_link_tag    "ecm/pdf_output/application", media: "all" %>
  <%= javascript_include_tag "ecm/pdf_output/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
